.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.local
.env.development
ecosystem.config.cjs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
SECRET_CONFIG
.idea
!.env.ci
!.env.production
gcp-*.json
db
logs
models/*
!models/add-your-models-here.txt